<!doctype html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="../static/styles.css" rel="stylesheet">
      <title>Cancer Type</title>
  </head>
  
   <body>
      <div id="container">
         <div id="header">
            <h1>Cheeto Team - 32</h1>
            <h2>Nathan D'Cruz, Jonathan Yeung, Nguyen Ho, Mukta Jaiswal</h2>
            <h2>Cancer Classification</h2>
            <img id="cheeto" src="../static/cheeto_circle.png"/>
         </div>
         <div id="banner">
            <form action = "http://localhost:9999/predict" method = "POST" enctype = "multipart/form-data">
               <div id="column-container">
                  <div class="column">
                     <p><label>Radius Mean </label><input type = "text" name = "radius_mean" /></p>
                     <p><label>Texture Mean </label><input type = "text" name = "texture_mean" /></p>
                     <p><label>Smoothness Mean </label><input type = "text" name = "smoothness_mean" /></p>
                     <p><label>Compactness Mean </label><input type = "text" name = "compactness_mean" /></p>
                     <p><label>Symmetry Mean </label><input type = "text" name = "symmetry_mean" /></p>   
                     <p><label>Fractal Dimension Mean </label><input type = "text" name = "fractal_dimension_mean" /></p>
                  </div>
                  <div class="column">
                     <p><label>Radius SE </label><input type = "text" name = "radius_se" /></p>
                     <p><label>Texture SE </label><input type = "text" name = "texture_se" /></p>
                     <p><label>Smoothness SE </label><input type = "text" name = "smoothness_se" /></p>
                     <p><label>Compactness SE </label><input type = "text" name = "compactness_se" /></p>
                     <p><label>Symmetry SE </label><input type = "text" name = "symmetry_se" /></p>
                  </div>
                  <div class="column">
                     <p><label>Radius Worst </label><input type = "text" name = "radius_worst" /></p>
                     <p><label>Texture Worst </label><input type = "text" name = "texture_worst" /></p>
                     <p><label>Smoothness Worst </label><input type = "text" name = "smoothness_worst" /></p>
                     <p><label>Compactness Worst </label><input type = "text" name = "compactness_worst" /></p>
                     <p><label>Symmetry Worst  </label><input type = "text" name = "symmetry_worst" /></p>   
                  </div>   
               </div>
               <input type = "file" name = "file" accept=".csv" />
               <div id="submit-container">
                  <button type="submit" value="Predict">Predict</button>
               </div>
            </form>   
         </div>   
      </div>
   </body>
</html>