<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/styles.css" rel="stylesheet">
        <title>Cancer Type</title>
    </head>
    
    <body>
        <div id="container">
            <div id="header">
               <h1>Cheeto Team - 32</h1>
               <h2>Nathan D'Cruz, Jonathan Yeung, Nguyen Ho, Mukta Jaiswal</h2>
               <h2>Cancer Classification</h2>
               <img id="cheeto" src="../static/cheeto_circle.png"/>
            </div>
            <div id="banner">
                <div id="result-container">
                    <h3>Cancer Type Result:</h3>
                    <h3>{{ cancer_type }}</h3>    
                </div>
            </div>
        </div>
    </body>
</html>